/* Importando fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ===== HEADER ===== */
.header {
   width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #F7F7FF;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 6px solid #DAA520;
    padding-right: 2rem;
}


.header ul {
    list-style: none;
    display: flex;
}

.header li {
    padding: 10px 20px;
}

#div-img {
    width: 20%;
    justify-items: center;
}

#img-header {
    width: 130%;
    padding: 2rem;
}

#div-nav {
    width: 80%;
    justify-items: end;
    align-items: center;
    text-align: center;
    margin-right: 30px;

}


/*Hover sublinhando apenas os direcionadores*/
a {
    color: #0A0000;
    font-weight: bold;
    text-decoration: none;
}

a:nth-of-type(1):hover {
    text-decoration: none;
    color: #DAA520;
}

a:nth-of-type(2):hover {
    text-decoration: none;
    color: #DAA520;
}

a:nth-of-type(3):hover {
    text-decoration: none;
    transform: scale(1.1);
    color: #DAA520;
}

a:nth-of-type(4):hover {
    text-decoration: none;
    transform: scale(1.1);
    color: #DAA520;
}

a:nth-of-type(5):hover {
    text-decoration: none;
    transform: scale(1.1);
    color: #DAA520;
}

/* fim do header */

main {
    margin-top: 100px;
}


.contenier-cadastro {
    min-height: 100vh;
    width: 100%;
    background-color: #0A0000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    position: relative;
}

.contenier-cadastro img {
    width: 250px;
}

.conteiner-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F7F7FF;
    border-radius: 20px;
    overflow: hidden;
    max-width: 900px;
    width: 90%;
    text-align: left;
}
#conteiner-img img {
    border-right: 3px solid #DAA520;
    width: 28vw;
    height: 100%;
    object-fit: fill;
    
}


.formulario {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.formulario h2 {
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
}

.formulario h3 {
    text-align: center;
    padding: 0 1.5rem;
    font-weight: 600;
}

.formulario p {
    text-align: center;
    padding-top: 3px;
    margin: 5px 0;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
}

.campo span {
    font-weight: 400;
    margin-bottom: 3px;
    text-align: left;
}

.campo input {
    border: none;
    border-radius: 20px;
    height: 45px;
    width: 95%;
    font-size: 1rem;
   font-family: 'Poppins', sans-serif;
    padding: 1rem;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #0A0000 inset;
}

.formulario button {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 12px 0;
    border: none;
    border-radius: 20px;
    background-color: #FF1B1C;
    color: #F7F7FF;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;
}

.formulario button:hover {
    background-color: #FF1B1C;
    transform: scale(1.03);
}

.alerta_erro{
    position: absolute; 
    z-index: 1000; 
    top: 400px; 
    right: 30px;
    display: flex;
    justify-content: flex-end; 
    margin: 0; 
}
.card_erro{
    max-width: 200px;
    width: auto;
    padding: 15px;
    background-color: #0A0000;
    border-radius: 8px; 
}

#mensagem{
    color: #F7F7FF;
}